/* Remove default button styling */
button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
}

/* Style input range sliders */
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: 1px;
    border-radius: 25px;
    border-style: solid;
    background-color: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -6.5px;
    background: yellowgreen;
}

/* Colors */
@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
        border-color: black;
    }

    svg {
        fill: black;
    }

    input[type=range]::-webkit-slider-runnable-track {
        border-color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
        border-color: white;
    }

    svg {
        fill: white;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background: black;
        border-color: white;
    }
}

body {
    /* Size */
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    /* Spacing */
    padding: 16px 10%;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Text */
    font-family: sans-serif;
}

.header {
    /* Size */
    width: 100%;

    /* Spacing */
    /* Layout */
    /* Text */
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}

.container {
    /* Size */
    width: 100%;

    /* Spacing */
    gap: 32px;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Text */
}

.number-of-words {
    /* Size */
    /* Spacing */
    gap: 8px;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Text */
    font-size: medium;
}

.password {
    /* Size */
    width: 100%;

    /* Spacing */
    padding: 0px 8px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    box-sizing: border-box;
    gap: 8px;

    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Text */
    font-size: x-large;
}

.password__value {
    /* Size */
    width: 100%;

    /* Spacing */
    /* Layout */
    /* Text */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.password_generate .password__copy {
    /* Size */
    /* Spacing */
    /* Layout */
    flex-grow: 0;
    flex-shrink: 0;

    /* Text */
}
